div{
    
    align-items: center;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}

.quadrado{
    position: absolute;
    margin-left: 35%;
    vertical-align: middle;
    background-color: black;
    transform: translateY(35vh);
    width: 30%;
    height: 30%;
}

.quadrado2{
    position: absolute;
    margin-left: 35%;
    vertical-align: middle;
    background-color: yellow;
    transform: translateY(35vh);
    width: 30%;
    height: 30%;
}

button{
    
    align-items: center;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}


